ul{
    list-style: none;
}

.billContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 39em;
    width: 20em;
    margin-left: -0.3em;
    text-align: start;
    visibility: hidden;
}

.bill{
    background-color: beige;
    height: 35em;
    width: 17.4em;
    border: 1px solid black;
    font-size: small;
}

#bill{
    margin-left: -3em;
    height: 15em;
}

.billText{
    margin-left: -1.5em;
}

.address{
    margin-top: -1em;
}

.ticketInvoice{
    text-align: center;
    margin-left: -2.65em;
    margin-top: -1em;
}

.elementTiket{
    font-size: small;
}

#bill tr button{
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    height: 1em;
    width: 1em;
    margin-left: 2em;
    background-color: rgb(235, 95, 95);
    border-radius: 1em;
    font-size: large;
    vertical-align: text-top;
    text-align: center;
}